# Metadata Explorer

A notebook to explore the metadata so we know where to look for things!

### Import some libraries

In [41]:
import os
import sys
from socket import gethostname

hostname = gethostname()

if hostname.startswith('hpc-node'):
    IN_DEEPTHOUGHT = True
    sys.path.append('..')
else:
    IN_DEEPTHOUGHT = False
from cf_analysis_lib.load_libraries import *
import cf_analysis_lib

### Read the data

In [42]:
sequence_type = 'MGI_minion'
metadata = cf_analysis_lib.read_metadata(datadir, sequence_type)
metadata.head(5)

,minion,MGI,pwCF_ID,Sample date,IP vs OP,Hospital,Room,Age,Age groups,Paediatric vs Adult,...,Sum of meds,Sum of antifungals,Sum of steroid + mabs,DNA_extraction_ conc,SAGC ULN,DNA Conc. (ng/ul),Index I7,Index I5,Mean_Size_BP,Total Clusters Passing Filter (Million)
NAME,,,,,,,,,,,,,,,,,,,,,
1068841_20180306_S,1068841_20180306_S,1068841_20180306_S,1068841,3/06/2018,OP,RAH,Chest Clinic 7,47,7,Adult,...,0,0,0,1.070,SAGCFN_22_01754,42.8,CGCTCATT,ATAGAGGC,417,2.8
1085876_20180227_S,NaN,1085876_20180227_S,1085876,2/27/2018,OP,RAH,Chest Clinic 6,40,6,Adult,...,1,0,0,0.132,SAGCFN_22_01828,19.0,AGCGATAG,GGCTCTGA,674,2.5
1128691_20171206_S,NaN,1128691_20171206_S,1128691,12/06/2017,IP,RAH,RAH 8E 05,47,7,Adult,...,3,0,0,1.750,SAGCFN_22_01748,33.4,TCCGGAGA,GGCTCTGA,535,4.5
1128691_20171218_S,1128691_20171218_S,1128691_20171218_S,1128691,12/18/2017,OP,RAH,Chest Clinic 1,47,7,Adult,...,1,0,0,3.400,SAGCFN_22_01743,30.8,ATTACTCG,CAGGACGT,352,4.8
1128691_20180116_S,1128691_20180116_S,1128691_20180116_S,1128691,1/16/2018,OP,RAH,Chest Clinic 4,47,7,Adult,...,1,0,0,0.708,SAGCFN_22_01772,27.4,ATTCAGAA,GGCTCTGA,500,3.8

In [56]:
len(metadata.columns)

166

In [49]:
for col in metadata.columns:
    counts = metadata[col].value_counts()
    if len(counts) > 3:
        print(f"{col}\t{len(counts)} values")
    else:    
        summary = "; ".join([f"{cat}: {count}" for cat, count in counts.items()])
        print(f"{col}\t{summary}")

minion	61 values
MGI	127 values
pwCF_ID	64 values
Sample date	75 values
IP vs OP	IP: 66; OP: 61
Hospital	WCH: 94; RAH: 33
Room	59 values
Age	30 values
Age groups	7 values
Paediatric vs Adult	Paediatric: 93; Adult: 34
Gender	F: 69; M: 58
Sample_Type	S: 126; BAL: 1
H2_Uncorrected	45 values
CH4_Uncorrected	17 values
CO2	26 values
H2_Corrected	55 values
CH4_Corrected	22 values
CH4/H2 ratio_corrected	63 values
Corr.	29 values
Culture Result (Matched with sequenced sample)	60 values
NTM	0.0: 114; 1.0: 11
Pseudomonas Culture	0.0: 89; 1.0: 36
Cutured in previous 12 months	32 values
Others cultured	23 values
IgE	51 values
Spec IgE	32 values
Spec IgG	20 values
Precipitins	0.0: 25; 1.0: 12; 2.0: 10
FVC	54 values
FEV1	58 values
Best FEV1	39 values
FEV1/best FEV1	104 values
FEV1_RATIO_SCORE	3.0: 47; 2.0: 40; 1.0: 38
FEV1_Obstruction_Rank	1.0: 114; 2.0: 11
Cystic Fibrosis related diabetes (CFRD)	No: 76; Impaired: 30; Yes: 21
Pancreatic insufficiency (PI)	Yes: 121; No: 4
CF gene 1	F508: 127
CF gene 2	15 values
Notes	56 values
CFLD	No: 86; Yes: 28; Unknown: 3
CS_mucoid	0: 108; 1: 19
CS_non-mucoid	0: 114; 1: 13
CS_Pseudomonas aeruginosa	0: 91; 1: 36
CS_Oral flora	0: 96; 1: 31
CS_Stenophotomonas maltophilia	0: 118; 1: 9
CS_Aspergillus fumigatus	0: 105; 1: 22
CS_Aspergillus flavus	0: 124; 1: 3
CS_Candida albicans	0: 87; 1: 40
CS_Mycobacteroides abscessus	0: 121; 1: 6
CS_Mycobacterium intracellulare	0: 126; 1: 1
CS_Staphylococcus  aureus	0: 99; 1: 28
CS_Inquilinus limosus	0: 126; 1: 1
CS_Achromobacter xylosoxidans	0: 124; 1: 3
CS_Burkholderia cepacia	0: 126; 1: 1
CS_NTM_(Smear negative)	0: 126; 1: 1
CS_Mycolicibacter terrae	0: 126; 1: 1
CS_Aspergillus nidulans	0: 125; 1: 2
CS_MAC_(Smear negative)	0: 125; 1: 2
CS_Penicillium	0: 124; 1: 3
CS_Aspergillus niger	0: 126; 1: 1
CS_Aspergillus terreus	0: 126; 1: 1
CS_Scedosporium apiospermum	0: 127
CS_Lomentospora prolificans	0: 126; 1: 1
CS_Acremonium species	0: 126; 1: 1
CS_MDR_Pseudomonas aeruginosa	0: 113; 1: 14
CS_Haemophilus influenzae	0: 126; 1: 1
CS_Scedosporium apiospermum.1	0: 126; 1: 1
P12M_0_Nothing	0.0: 120; 1.0: 5
P12M_1_Staphylococcus aureus	1.0: 69; 0.0: 56
P12M_2_Pseudomonas aeruginosa	0.0: 66; 1.0: 59
P12M_3_Stenotrophomonas maltophilia	0.0: 101; 1.0: 24
P12M_4_Rapid NTM	0.0: 106; 1.0: 19
P12M_5_Slow NTM	0.0: 116; 1.0: 9
P12M_6_Aspergillus	0.0: 63; 1.0: 62
P12M_7_Burkholderia cepacia	0.0: 120; 1.0: 5
P12M_8_Haemophilus influenza	0.0: 119; 1.0: 6
P12M_9_Streptococcus pneumoniae	0.0: 123; 1.0: 2
P12M_10_Achromobacter xylosoxidans	0.0: 115; 1.0: 10
P12M_11_Serratia marcesens	0.0: 118; 1.0: 7
P12M_12_Inquilinus limosus	0.0: 123; 1.0: 2
P12M_13_Scedosporum apiospermum	0.0: 124; 1.0: 1
P12M_14_Moraxella catarrhalis	0.0: 124; 1.0: 1
Next PA Positive Date	42 values
Positive for PA within next 12 months	Yes: 71; No: 31; No (over 12 months): 25
Culture for next sample	65 values
N12M_Pseudomonas aeruginosa	1.0: 71; 0.0: 39
N12M_Pseudomonas aeruginosa (multi-resistant)	0.0: 54; 1.0: 48
N12M_mucoid	0.0: 75; 1.0: 16
N12M_non_mucoid	0.0: 69; 1.0: 12
N12M_MAC	0.0: 65; 1.0: 21
N12M_M intracellulare	0.0: 80; 1.0: 1
N12M_Candida albicans	1.0: 70; 0.0: 43
N12M_Achromobacter xylosoxidans	0.0: 74; 1.0: 7
N12M_Aspergillus fumigatus	0.0: 54; 1.0: 40
N12M_Stenotrophomonas maltophilia	0.0: 66; 1.0: 17
N12M_Staphylococcus aureus	1.0: 52; 0.0: 35
N12M_M gordonae	0.0: 28; 1.0: 7
N12M_M chelonae	0.0: 4; 1.0: 1
O_Penicillium species	0: 118; 1: 9
O_Enterobacter cloacae	0: 125; 1: 2
O_Aspergillus Flavus	0: 119; 1: 8
O_Mycobacterium abscessus	0: 122; 1: 5
O_Cupriavidus gilardii	0: 123; 1: 4
O_Mycobacterium intracellular	0: 126; 1: 1
O_Scedosporium apiospermum	0: 127
O_Pseudomonas aeruginosa (multi-resistant)	0: 121; 1: 6
O_Streptococcus pyogenes	0: 124; 1: 3
O_Pseudomonas aeruginosa (non-mucoid)	0: 116; 1: 11
O_Chryseobacterium indologenes	0: 125; 1: 2
O_Bordetella species	0: 125; 1: 2
O_Klebsiella oxytoca	0: 125; 1: 2
O_Mycobacterium mucogenicum	0: 125; 1: 2
O_Mycobacterium scotochromogen	0: 125; 1: 2
O_Acinetobacter species	0: 122; 1: 5
O_Enterobacter species	0: 121; 1: 6
O_Aspergillus niger	0: 120; 1: 7
O_Aspergillus terreus	0: 124; 1: 3
O_Pseudomonas aeruginosa (mucoid)	0: 121; 1: 6
O_Proteus mirabilis	0: 125; 1: 2
O_talaromyces purpurogenus	0: 126; 1: 1
O_Trichosporon mycotoxinivorans	0: 127
Antibiotics (duration)	111 values
Antibiotics_YN	Yes: 92; No: 35
IV	0: 66; 1: 61
INH	0: 99; 1: 28
PO	0: 85; 1: 42
2 Amphotericin B (Ambisome)_INH	0: 124; 1: 3
4 Amikacin_IV	0: 120; 1: 7
2 Amikacin_INH	0: 123; 1: 4
2 Amoxicillin & Potassium clavulanate (Aug Duo)_PO	0: 119; 1: 8
3 Azithromycin_IV	0: 126; 1: 1
2 Azithromycin_PO	0: 120; 1: 7
3 Aztreonam_IV	0: 127
3 Cefopime_IV	0: 126; 1: 1
4 Cefoxitin_IV	0: 125; 1: 2
3 Ceftazidime_IV	0: 107; 1: 20
2 Ceftazidime_INH	0: 125; 1: 2
1 Cephalexin_PO	0: 126; 1: 1
2 Ciprofloxacin_PO	0: 119; 1: 8
2 Clarithromycin_PO	0: 125; 1: 2
2 Clofazimine PO	0: 121; 1: 6
4 Colistin_IV	0: 125; 1: 2
2 Colistin_IHN	0: 125; 1: 2
1 Flucloaxcillin_PO	0: 126; 1: 1
3 Imipenem	0: 126; 1: 1
1 Itraconazole (Lozenoc)_PO	0: 117; 1: 10
3 Ivacaftor (Kalydeco)	0: 126; 1: 1
3 Meropenem_IV	0: 122; 1: 5
3 Methylpredinosolone_IV	0: 119; 1: 8
3 Omalizumab_SC	0: 125; 1: 2
3 piperacillin sodium, tazobactam sodium (Tazocin)_IV	0: 100; 1: 27
2 prednisolone_PO	0: 125; 1: 2
1 Sulfamethoxazole_trimethoprim (Bactrim)_PO	0: 122; 1: 5
3 tobramycin_IV	0: 90; 1: 37
2 tobramycin_INH	0: 111; 1: 16
Sum of antibiotics	7 values
Sum of meds	7 values
Sum of antifungals	0: 112; 1: 13; 2: 2
Sum of steroid + mabs	0: 115; 1: 11; 2: 1
DNA_extraction_ conc	113 values
SAGC ULN	127 values
DNA Conc. (ng/ul)	101 values
Index I7	43 values
Index I5	39 values
Mean_Size_BP	106 values
Total Clusters Passing Filter (Million)	54 values

In [50]:
metadata['CS_Inquilinus limosus'].dtypes

dtype('int64')

###

In [55]:
for col in metadata.select_dtypes(include='int64').columns:
    counts = metadata[col].value_counts()
    if len(counts) > 3:
        # print(f"{col}\t{len(counts)} values")
        continue
    else:
        #summary = "; ".join([f"{cat}: {count}" for cat, count in counts.items()])
        if int(1) in counts:
            summary = f"{counts[int(1)]}"
        elif int(0) in counts and counts[int(0)] == 127:
            print(f"{col}\tNo positives")
        else:
            summary = "; ".join([f"{cat}: {count}" for cat, count in counts.items()])
        print(f"{col}\t{summary}")

CS_mucoid	19
CS_non-mucoid	13
CS_Pseudomonas aeruginosa	36
CS_Oral flora	31
CS_Stenophotomonas maltophilia	9
CS_Aspergillus fumigatus	22
CS_Aspergillus flavus	3
CS_Candida albicans	40
CS_Mycobacteroides abscessus	6
CS_Mycobacterium intracellulare	1
CS_Staphylococcus  aureus	28
CS_Inquilinus limosus	1
CS_Achromobacter xylosoxidans	3
CS_Burkholderia cepacia	1
CS_NTM_(Smear negative)	1
CS_Mycolicibacter terrae	1
CS_Aspergillus nidulans	2
CS_MAC_(Smear negative)	2
CS_Penicillium	3
CS_Aspergillus niger	1
CS_Aspergillus terreus	1
CS_Scedosporium apiospermum	No positives
CS_Scedosporium apiospermum	1
CS_Lomentospora prolificans	1
CS_Acremonium species	1
CS_MDR_Pseudomonas aeruginosa	14
CS_Haemophilus influenzae	1
CS_Scedosporium apiospermum.1	1
O_Penicillium species	9
O_Enterobacter cloacae	2
O_Aspergillus Flavus	8
O_Mycobacterium abscessus	5
O_Cupriavidus gilardii	4
O_Mycobacterium intracellular	1
O_Scedosporium apiospermum	No positives
O_Scedosporium apiospermum	1
O_Pseudomonas aeruginosa (multi-resistant)	6
O_Streptococcus pyogenes	3
O_Pseudomonas aeruginosa (non-mucoid)	11
O_Chryseobacterium indologenes	2
O_Bordetella species	2
O_Klebsiella oxytoca	2
O_Mycobacterium mucogenicum	2
O_Mycobacterium scotochromogen	2
O_Acinetobacter species	5
O_Enterobacter species	6
O_Aspergillus niger	7
O_Aspergillus terreus	3
O_Pseudomonas aeruginosa (mucoid)	6
O_Proteus mirabilis	2
O_talaromyces purpurogenus	1
O_Trichosporon mycotoxinivorans	No positives
O_Trichosporon mycotoxinivorans	1
IV	61
INH	28
PO	42
2 Amphotericin B (Ambisome)_INH	3
4 Amikacin_IV	7
2 Amikacin_INH	4
2 Amoxicillin & Potassium clavulanate (Aug Duo)_PO	8
3 Azithromycin_IV	1
2 Azithromycin_PO	7
3 Aztreonam_IV	No positives
3 Aztreonam_IV	7
3 Cefopime_IV	1
4 Cefoxitin_IV	2
3 Ceftazidime_IV	20
2 Ceftazidime_INH	2
1 Cephalexin_PO	1
2 Ciprofloxacin_PO	8
2 Clarithromycin_PO	2
2 Clofazimine PO	6
4 Colistin_IV	2
2 Colistin_IHN	2
1 Flucloaxcillin_PO	1
3 Imipenem	1
1 Itraconazole (Lozenoc)_PO	10
3 Ivacaftor (Kalydeco)	1
3 Meropenem_IV	5
3 Methylpredinosolone_IV	8
3 Omalizumab_SC	2
3 piperacillin sodium, tazobactam sodium (Tazocin)_IV	27
2 prednisolone_PO	2
1 Sulfamethoxazole_trimethoprim (Bactrim)_PO	5
3 tobramycin_IV	37
2 tobramycin_INH	16
Sum of antifungals	13
Sum of steroid + mabs	11

In [4]:
for c in metadata.columns:
    if 'pseudomon' in c.lower():
        print(c)

Pseudomonas Culture
CS_Pseudomonas aeruginosa
CS_MDR_Pseudomonas aeruginosa
P12M_2_Pseudomonas aeruginosa
N12M_Pseudomonas aeruginosa
N12M_Pseudomonas aeruginosa (multi-resistant)
O_Pseudomonas aeruginosa (multi-resistant)
O_Pseudomonas aeruginosa (non-mucoid)
O_Pseudomonas aeruginosa (mucoid)

In [5]:
metadata[['CS_Pseudomonas aeruginosa', 'CS_MDR_Pseudomonas aeruginosa', 'O_Pseudomonas aeruginosa (multi-resistant)', 'O_Pseudomonas aeruginosa (non-mucoid)', 'O_Pseudomonas aeruginosa (mucoid)']]

,CS_Pseudomonas aeruginosa,CS_MDR_Pseudomonas aeruginosa,O_Pseudomonas aeruginosa (multi-resistant),O_Pseudomonas aeruginosa (non-mucoid),O_Pseudomonas aeruginosa (mucoid)
NAME,,,,,
1068841_20180306_S,0,0,0,0,0
1085876_20180227_S,1,0,0,0,0
1128691_20171206_S,1,0,0,0,0
1128691_20171218_S,1,0,0,0,0
1128691_20180116_S,1,0,0,0,0
...,...,...,...,...,...
895293_20180502_S,1,1,0,0,0
896213_20180427_S,0,0,0,0,0
913873_20180417_S,0,0,0,0,0
980574_20180403_S,1,1,1,1,1
983493_20180123_S,1,0,0,1,1

In [6]:
metadata[metadata['CS_MDR_Pseudomonas aeruginosa'] == 1][['CS_Pseudomonas aeruginosa', 'CS_MDR_Pseudomonas aeruginosa']]

                    CS_Pseudomonas aeruginosa  CS_MDR_Pseudomonas aeruginosa
NAME
1282052_20180206_S                          1                              1
1316935_20180417_S                          1                              1
1465461_20180406_S                          1                              1
1565754_20180403_S                          1                              1
1588281_20180508_S                          1                              1
1593967_20180424_S                          1                              1
1593973_20180427_S                          1                              1
1593973_20180504_S                          1                              1
658355_20180321_S                           1                              1
748160_20180321_S                           1                              1
748699_20190101_S                           1                              1
748699_20190109_S                           1                              1
895293_20180502_S                           1                              1
980574_20180403_S                           1                              1

In [7]:
metadata[metadata['CS_Pseudomonas aeruginosa'] == 1][['CS_Pseudomonas aeruginosa', 'CS_MDR_Pseudomonas aeruginosa']].shape

(36, 2)

In [8]:
t = '"; "'.join(sorted(list(metadata.columns)))
print(f'"{t}"')

"1 Cephalexin_PO"; "1 Flucloaxcillin_PO"; "1 Itraconazole (Lozenoc)_PO"; "1 Sulfamethoxazole_trimethoprim (Bactrim)_PO"; "2 Amikacin_INH"; "2 Amoxicillin & Potassium clavulanate (Aug Duo)_PO"; "2 Amphotericin B (Ambisome)_INH"; "2 Azithromycin_PO"; "2 Ceftazidime_INH"; "2 Ciprofloxacin_PO"; "2 Clarithromycin_PO"; "2 Clofazimine PO"; "2 Colistin_IHN"; "2 prednisolone_PO"; "2 tobramycin_INH"; "3 Azithromycin_IV"; "3 Aztreonam_IV"; "3 Cefopime_IV"; "3 Ceftazidime_IV"; "3 Imipenem"; "3 Ivacaftor (Kalydeco)"; "3 Meropenem_IV"; "3 Methylpredinosolone_IV"; "3 Omalizumab_SC"; "3 piperacillin sodium, tazobactam sodium (Tazocin)_IV"; "3 tobramycin_IV"; "4 Amikacin_IV"; "4 Cefoxitin_IV"; "4 Colistin_IV"; "Age"; "Age groups"; "Antibiotics (duration)"; "Antibiotics_YN"; "Best FEV1"; "CF gene 1"; "CF gene 2"; "CFLD"; "CH4/H2 ratio_corrected"; "CH4_Corrected"; "CH4_Uncorrected"; "CO2"; "CS_Achromobacter xylosoxidans"; "CS_Acremonium species"; "CS_Aspergillus flavus"; "CS_Aspergillus fumigatus"; "CS_Aspergillus nidulans"; "CS_Aspergillus niger"; "CS_Aspergillus terreus"; "CS_Burkholderia cepacia"; "CS_Candida albicans"; "CS_Haemophilus influenzae"; "CS_Inquilinus limosus"; "CS_Lomentospora prolificans"; "CS_MAC_(Smear negative)"; "CS_MDR_Pseudomonas aeruginosa"; "CS_Mycobacterium intracellulare"; "CS_Mycobacteroides abscessus"; "CS_Mycolicibacter terrae"; "CS_NTM_(Smear negative)"; "CS_Oral flora"; "CS_Penicillium"; "CS_Pseudomonas aeruginosa"; "CS_Scedosporium apiospermum"; "CS_Scedosporium apiospermum.1"; "CS_Staphylococcus  aureus"; "CS_Stenophotomonas maltophilia"; "CS_mucoid"; "CS_non-mucoid"; "Corr."; "Culture Result (Matched with sequenced sample)"; "Culture for next sample"; "Cutured in previous 12 months"; "Cystic Fibrosis related diabetes (CFRD)"; "DNA Conc. (ng/ul)"; "DNA_extraction_ conc"; "FEV1"; "FEV1/best FEV1"; "FEV1_Obstruction_Rank"; "FEV1_RATIO_SCORE"; "FVC"; "Gender"; "H2_Corrected"; "H2_Uncorrected"; "Hospital"; "INH"; "IP vs OP"; "IV"; "IgE"; "Index I5"; "Index I7"; "MGI"; "Mean_Size_BP"; "N12M_Achromobacter xylosoxidans"; "N12M_Aspergillus fumigatus"; "N12M_Candida albicans"; "N12M_M chelonae"; "N12M_M gordonae"; "N12M_M intracellulare"; "N12M_MAC"; "N12M_Pseudomonas aeruginosa"; "N12M_Pseudomonas aeruginosa (multi-resistant)"; "N12M_Staphylococcus aureus"; "N12M_Stenotrophomonas maltophilia"; "N12M_mucoid"; "N12M_non_mucoid"; "NTM"; "Next PA Positive Date"; "Notes"; "O_Acinetobacter species"; "O_Aspergillus Flavus"; "O_Aspergillus niger"; "O_Aspergillus terreus"; "O_Bordetella species"; "O_Chryseobacterium indologenes"; "O_Cupriavidus gilardii"; "O_Enterobacter cloacae"; "O_Enterobacter species"; "O_Klebsiella oxytoca"; "O_Mycobacterium abscessus"; "O_Mycobacterium intracellular"; "O_Mycobacterium mucogenicum"; "O_Mycobacterium scotochromogen"; "O_Penicillium species"; "O_Proteus mirabilis"; "O_Pseudomonas aeruginosa (mucoid)"; "O_Pseudomonas aeruginosa (multi-resistant)"; "O_Pseudomonas aeruginosa (non-mucoid)"; "O_Scedosporium apiospermum"; "O_Streptococcus pyogenes"; "O_Trichosporon mycotoxinivorans"; "O_talaromyces purpurogenus"; "Others cultured"; "P12M_0_Nothing"; "P12M_10_Achromobacter xylosoxidans"; "P12M_11_Serratia marcesens"; "P12M_12_Inquilinus limosus"; "P12M_13_Scedosporum apiospermum"; "P12M_14_Moraxella catarrhalis"; "P12M_1_Staphylococcus aureus"; "P12M_2_Pseudomonas aeruginosa"; "P12M_3_Stenotrophomonas maltophilia"; "P12M_4_Rapid NTM"; "P12M_5_Slow NTM"; "P12M_6_Aspergillus"; "P12M_7_Burkholderia cepacia"; "P12M_8_Haemophilus influenza"; "P12M_9_Streptococcus pneumoniae"; "PO"; "Paediatric vs Adult"; "Pancreatic insufficiency (PI)"; "Positive for PA within next 12 months"; "Precipitins"; "Pseudomonas Culture"; "Room"; "SAGC ULN"; "Sample date"; "Sample_Type"; "Spec IgE"; "Spec IgG"; "Sum of antibiotics"; "Sum of antifungals"; "Sum of meds"; "Sum of steroid + mabs"; "Total Clusters Passing Filter (Million)"; "minion"; "pwCF_ID"

In [9]:
antibiotics = ['1 Cephalexin_PO', '1 Flucloaxcillin_PO', '1 Itraconazole (Lozenoc)_PO', '1 Sulfamethoxazole_trimethoprim (Bactrim)_PO', '2 Amikacin_INH', '2 Amoxicillin & Potassium clavulanate (Aug Duo)_PO', '2 Amphotericin B (Ambisome)_INH', '2 Azithromycin_PO', '2 Ceftazidime_INH', '2 Ciprofloxacin_PO', '2 Clarithromycin_PO', '2 Clofazimine PO', '2 Colistin_IHN', '2 prednisolone_PO', '2 tobramycin_INH', '3 Azithromycin_IV', '3 Aztreonam_IV', '3 Cefopime_IV', '3 Ceftazidime_IV', '3 Imipenem', '3 Ivacaftor (Kalydeco)', '3 Meropenem_IV', '3 Methylpredinosolone_IV', '3 Omalizumab_SC', '3 piperacillin sodium, tazobactam sodium (Tazocin)_IV', '3 tobramycin_IV', '4 Amikacin_IV', '4 Cefoxitin_IV', '4 Colistin_IV']

In [10]:
t = '"; "'.join(sorted(antibiotics))
print(f'"{t}"')

"1 Cephalexin_PO"; "1 Flucloaxcillin_PO"; "1 Itraconazole (Lozenoc)_PO"; "1 Sulfamethoxazole_trimethoprim (Bactrim)_PO"; "2 Amikacin_INH"; "2 Amoxicillin & Potassium clavulanate (Aug Duo)_PO"; "2 Amphotericin B (Ambisome)_INH"; "2 Azithromycin_PO"; "2 Ceftazidime_INH"; "2 Ciprofloxacin_PO"; "2 Clarithromycin_PO"; "2 Clofazimine PO"; "2 Colistin_IHN"; "2 prednisolone_PO"; "2 tobramycin_INH"; "3 Azithromycin_IV"; "3 Aztreonam_IV"; "3 Cefopime_IV"; "3 Ceftazidime_IV"; "3 Imipenem"; "3 Ivacaftor (Kalydeco)"; "3 Meropenem_IV"; "3 Methylpredinosolone_IV"; "3 Omalizumab_SC"; "3 piperacillin sodium, tazobactam sodium (Tazocin)_IV"; "3 tobramycin_IV"; "4 Amikacin_IV"; "4 Cefoxitin_IV"; "4 Colistin_IV"

In [11]:
combinations = {
'Amikacin' : ['2 Amikacin_INH', '4 Amikacin_IV'],
'Azithromycin' : ['2 Azithromycin_PO', '3 Azithromycin_IV'],
'Tobramycin' : ['2 tobramycin_INH', '3 tobramycin_IV'],
'Colistin' : ['2 Colistin_IHN', '4 Colistin_IV'],
'Ceftazidime' : ['2 Ceftazidime_INH', '3 Ceftazidime_IV'],
'Prednisolone' : ['2 prednisolone_PO', '3 Methylpredinosolone_IV']
}

In [12]:
metadata[(metadata['2 Amikacin_INH'] == 1) | (metadata['4 Amikacin_IV'] == 1)]

,minion,MGI,pwCF_ID,Sample date,IP vs OP,Hospital,Room,Age,Age groups,Paediatric vs Adult,...,Sum of meds,Sum of antifungals,Sum of steroid + mabs,DNA_extraction_ conc,SAGC ULN,DNA Conc. (ng/ul),Index I7,Index I5,Mean_Size_BP,Total Clusters Passing Filter (Million)
NAME,,,,,,,,,,,,,,,,,,,,,
650003_20180207_S,650003_20180207_S,650003_20180207_S,650003,2/07/2018,IP,WCH,Adol Room 1,17,3,Paediatric,...,5,0,0,0.5520,SAGCFN_22_01778,8.28,GAATTCGT,ATAGAGGC,476,5.7
650003_20180213_S,NaN,650003_20180213_S,650003,2/13/2018,IP,WCH,Level 6 Treatment,17,3,Paediatric,...,5,0,0,0.2890,SAGCFN_22_01800,27.60,TAATGCGC,GTACTGAC,572,3.5
670829_20171001_S,NaN,670829_20171001_S,670829,10/01/2017,IP,WCH,Adolescent 6,15,3,Paediatric,...,1,0,0,0.2800,SAGCFN_22_01803,41.80,CGGCTATG,CCTATCCT,375,2.2
670829_20171005_S,NaN,670829_20171005_S,670829,10/05/2017,IP,WCH,Adolescent 6,15,3,Paediatric,...,1,0,0,0.1020,SAGCFN_22_01836,5.16,ATGTTGCCAC,ATGGCTTCTA,668,4.0
670829_20180201_S,NaN,670829_20180201_S,670829,2/01/2018,IP,WCH,Day Surgery 17,16,3,Paediatric,...,2,1,0,0.0810,SAGCFN_22_01840,8.58,AGGTAACAAC,AGCATCGTGC,469,3.1
698917_20180119_S,698917_20180119_S,698917_20180119_S,698917,1/19/2018,IP,WCH,Adol Room 1,14,3,Paediatric,...,3,0,0,1.7600,SAGCFN_22_01747,23.20,TCCGGAGA,CCTATCCT,383,6.7
698917_20180128_S,698917_20180128_S,698917_20180128_S,698917,1/28/2018,IP,WCH,Adol Room 1,14,3,Paediatric,...,3,0,0,0.3370,SAGCFN_22_01793,21.00,TAATGCGC,TATAGCCT,495,2.2
698917_20180329_S,NaN,698917_20180329_S,698917,3/29/2018,OP,WCH,Day Surgery 19,14,3,Paediatric,...,6,0,0,0.0554,SAGCFN_22_01847,5.60,GAACCGCATT,AGGCATAATG,345,2.6
770560_20181218_S,NaN,770560_20181218_S,770560,12/18/2018,IP,WCH,Adolescent 4,12,3,Paediatric,...,3,0,0,0.1610,SAGCFN_22_01821,14.90,TCTCGCGC,AGGCGAAG,630,3.2
770560_20190109_S,NaN,770560_20190109_S,770560,1/09/2019,IP,WCH,Adolescent 4,12,3,Paediatric,...,4,0,0,0.0710,SAGCFN_22_01842,12.00,CTTGCTATTC,CGTGACTCTA,395,4.2

In [13]:
tmpdf = pd.DataFrame()
for new_col, col_array in combinations.items():
    tmpdf[new_col] = metadata[col_array].any(axis=1).astype(int)
tmpdf

,Amikacin,Azithromycin,Tobramycin,Colistin,Ceftazidime,Prednisolone
NAME,,,,,,
1068841_20180306_S,0,0,0,0,0,0
1085876_20180227_S,0,1,0,0,0,0
1128691_20171206_S,0,0,1,0,0,0
1128691_20171218_S,0,0,1,0,0,0
1128691_20180116_S,0,0,1,0,0,0
...,...,...,...,...,...,...
895293_20180502_S,0,0,0,0,0,0
896213_20180427_S,0,0,0,0,0,0
913873_20180417_S,0,0,0,0,0,0
980574_20180403_S,0,0,0,0,0,0
983493_20180123_S,0,0,0,0,0,0

In [14]:
tmpdf.sum()

Amikacin        10
Azithromycin     8
Tobramycin      47
Colistin         4
Ceftazidime     22
Prednisolone    10
dtype: int64

In [15]:
len(metadata['pwCF_ID'].unique())

64

Generate some statistics about our samples

In [16]:
sequence_type='MGI'

for taxa in ['kingdom', 'order', 'phylum', 'class', 'family', 'genus']:
    genus_otu = cf_analysis_lib.read_taxonomy(datadir, sequence_type, taxa)
    genus_otu = genus_otu.T
    print(f"The taxonomy df for {taxa} has shape: {genus_otu.shape}")

metadata = cf_analysis_lib.read_metadata(datadir, sequence_type, categorise=True)
print(f"The metadata df has shape: {metadata.shape}")

The taxonomy df for kingdom has shape: (127, 1)
The taxonomy df for order has shape: (127, 302)
The taxonomy df for phylum has shape: (127, 164)
The taxonomy df for class has shape: (127, 140)
The taxonomy df for family has shape: (127, 743)
The taxonomy df for genus has shape: (127, 3581)
The metadata df has shape: (127, 166)

In [17]:
for taxa in ['kingdom', 'order', 'phylum', 'class', 'family', 'genus']:
    genus_otu = cf_analysis_lib.read_taxonomy(datadir, sequence_type, taxa)
    genus_otu = genus_otu.T
    print(f"we have {genus_otu.shape[1]} taxonomic group for {taxa}, and ", end="")
print()

we have 1 taxonomic group for kingdom, and we have 302 taxonomic group for order, and we have 164 taxonomic group for phylum, and we have 140 taxonomic group for class, and we have 743 taxonomic group for family, and we have 3581 taxonomic group for genus, and

In [18]:
for sslevel in ['all_norm_ss.tsv.gz', 'class_norm_ss.tsv.gz', 'level1_norm_ss.tsv.gz', 'level2_norm_ss.tsv.gz', 'subsystems_norm_ss.tsv.gz']:
    ss_df = cf_analysis_lib.read_subsystems(os.path.join(datadir, sequence_type, "FunctionalAnalysis", "subsystems", sslevel), sequence_type)
    ss_df = ss_df.T
    print(f"we have {ss_df.shape[1]} features for {sslevel.replace('_norm_ss.tsv.gz', '')} subsystems, and ", end="")
print()

we have 769 features for all subsystems, and we have 11 features for class subsystems, and we have 29 features for level1 subsystems, and we have 139 features for level2 subsystems, and we have 769 features for subsystems subsystems, and

In [19]:
sslevel = 'all_norm_ss.tsv.gz'
ss_df = cf_analysis_lib.read_subsystems(os.path.join(datadir, sequence_type, "FunctionalAnalysis", "subsystems", sslevel), sequence_type)
ss_df = ss_df.T
print(f"The subsystems df for {sslevel} has shape: {ss_df.shape}")

The subsystems df for all_norm_ss.tsv.gz has shape: (127, 769)

In [20]:
os.path.join(datadir, sequence_type, "FunctionalAnalysis", "subsystems", sslevel)

'../MGI/FunctionalAnalysis/subsystems/all_norm_ss.tsv.gz'

In [21]:
intcol = 'CFLD'

lens = metadata[intcol].count()
noss = metadata[intcol].str.contains('No').sum()
yess = metadata[intcol].str.contains('Yes').sum()
print(f"No: {noss} Yes: {yess} tot: {noss+yess} len: {lens}")

No: 86 Yes: 28 tot: 114 len: 117

In [22]:
metadata[intcol].dropna().cat.categories

Index(['No', 'Unknown', 'Yes'], dtype='object')

In [23]:
tmp = metadata[metadata[intcol] != 'Unknown'].dropna()
tmp[intcol]

NAME
1593973_20180504_S    No
Name: CFLD, dtype: category
Categories (3, object): ['No', 'Unknown', 'Yes']

In [24]:
mask = metadata[intcol].notna() & (metadata[intcol] != 'Unknown')
tmpdf = metadata[mask]
tmpdf[tmpdf[intcol] == 'Unknown']

Empty DataFrame
Columns: [minion, MGI, pwCF_ID, Sample date, IP vs OP, Hospital, Room, Age, Age groups, Paediatric vs Adult, Gender, Sample_Type, H2_Uncorrected, CH4_Uncorrected, CO2, H2_Corrected, CH4_Corrected, CH4/H2 ratio_corrected, Corr., Culture Result (Matched with sequenced sample), NTM, Pseudomonas Culture, Cutured in previous 12 months, Others cultured, IgE, Spec IgE, Spec IgG, Precipitins, FVC, FEV1, Best FEV1, FEV1/best FEV1, FEV1_RATIO_SCORE, FEV1_Obstruction_Rank, Cystic Fibrosis related diabetes (CFRD), Pancreatic insufficiency (PI), CF gene 1, CF gene 2, Notes, CFLD, CS_mucoid, CS_non-mucoid, CS_Pseudomonas aeruginosa, CS_Oral flora, CS_Stenophotomonas maltophilia, CS_Aspergillus fumigatus, CS_Aspergillus flavus, CS_Candida albicans, CS_Mycobacteroides abscessus, CS_Mycobacterium intracellulare, CS_Staphylococcus  aureus, CS_Inquilinus limosus, CS_Achromobacter xylosoxidans, CS_Burkholderia cepacia, CS_NTM_(Smear negative), CS_Mycolicibacter terrae, CS_Aspergillus nidulans, CS_MAC_(Smear negative), CS_Penicillium, CS_Aspergillus niger, CS_Aspergillus terreus, CS_Scedosporium apiospermum, CS_Lomentospora prolificans, CS_Acremonium species, CS_MDR_Pseudomonas aeruginosa, CS_Haemophilus influenzae, CS_Scedosporium apiospermum.1, P12M_0_Nothing, P12M_1_Staphylococcus aureus, P12M_2_Pseudomonas aeruginosa, P12M_3_Stenotrophomonas maltophilia, P12M_4_Rapid NTM, P12M_5_Slow NTM, P12M_6_Aspergillus, P12M_7_Burkholderia cepacia, P12M_8_Haemophilus influenza, P12M_9_Streptococcus pneumoniae, P12M_10_Achromobacter xylosoxidans, P12M_11_Serratia marcesens, P12M_12_Inquilinus limosus, P12M_13_Scedosporum apiospermum, P12M_14_Moraxella catarrhalis, Next PA Positive Date, Positive for PA within next 12 months, Culture for next sample, N12M_Pseudomonas aeruginosa, N12M_Pseudomonas aeruginosa (multi-resistant), N12M_mucoid, N12M_non_mucoid, N12M_MAC, N12M_M intracellulare, N12M_Candida albicans, N12M_Achromobacter xylosoxidans, N12M_Aspergillus fumigatus, N12M_Stenotrophomonas maltophilia, N12M_Staphylococcus aureus, N12M_M gordonae, N12M_M chelonae, O_Penicillium species, O_Enterobacter cloacae, ...]
Index: []

[0 rows x 166 columns]

In [25]:
for c in sorted(metadata.columns):
    if 'CS' in c:
        print(c)

CS_Achromobacter xylosoxidans
CS_Acremonium species
CS_Aspergillus flavus
CS_Aspergillus fumigatus
CS_Aspergillus nidulans
CS_Aspergillus niger
CS_Aspergillus terreus
CS_Burkholderia cepacia
CS_Candida albicans
CS_Haemophilus influenzae
CS_Inquilinus limosus
CS_Lomentospora prolificans
CS_MAC_(Smear negative)
CS_MDR_Pseudomonas aeruginosa
CS_Mycobacterium intracellulare
CS_Mycobacteroides abscessus
CS_Mycolicibacter terrae
CS_NTM_(Smear negative)
CS_Oral flora
CS_Penicillium
CS_Pseudomonas aeruginosa
CS_Scedosporium apiospermum
CS_Scedosporium apiospermum.1
CS_Staphylococcus  aureus
CS_Stenophotomonas maltophilia
CS_mucoid
CS_non-mucoid

In [26]:
for intcol in sorted(metadata.columns):
    if 'CS' in intcol:
        try:
            mn = metadata.groupby(intcol).size()[1]
        except KeyError as e:
            mn = "NOT KNOWN"
        print(f"{intcol}XXX{mn} pwCF")

CS_Achromobacter xylosoxidansXXX3 pwCF
CS_Acremonium speciesXXX1 pwCF
CS_Aspergillus flavusXXX3 pwCF
CS_Aspergillus fumigatusXXX22 pwCF
CS_Aspergillus nidulansXXX2 pwCF
CS_Aspergillus nigerXXX1 pwCF
CS_Aspergillus terreusXXX1 pwCF
CS_Burkholderia cepaciaXXX1 pwCF
CS_Candida albicansXXX40 pwCF
CS_Haemophilus influenzaeXXX1 pwCF
CS_Inquilinus limosusXXX1 pwCF
CS_Lomentospora prolificansXXX1 pwCF
CS_MAC_(Smear negative)XXX2 pwCF
CS_MDR_Pseudomonas aeruginosaXXX14 pwCF
CS_Mycobacterium intracellulareXXX1 pwCF
CS_Mycobacteroides abscessusXXX6 pwCF
CS_Mycolicibacter terraeXXX1 pwCF
CS_NTM_(Smear negative)XXX1 pwCF
CS_Oral floraXXX31 pwCF
CS_PenicilliumXXX3 pwCF
CS_Pseudomonas aeruginosaXXX36 pwCF
CS_Scedosporium apiospermumXXXNOT KNOWN pwCF
CS_Scedosporium apiospermum.1XXX1 pwCF
CS_Staphylococcus  aureusXXX28 pwCF
CS_Stenophotomonas maltophiliaXXX9 pwCF
CS_mucoidXXX19 pwCF
CS_non-mucoidXXX13 pwCF

In [27]:
intcol = 'CS_Aspergillus fumigatus'
metadata[intcol].values

[0, 0, 0, 0, 1, ..., 0, 1, 0, 0, 0]
Length: 127
Categories (2, int64): [0, 1]

In [28]:
intcol = 'CO2'
metadata[intcol].values

array([3.8, 2.9, 4. , 3.4, 3. , 3.4, 3.2, 2. , 3.6, 3.3, 3.2, 4. , 3.4,
       3. , 4.6, 3.2, 4.4, 4.5, 2.7, 2.8, 3.5, 3.7, 3.3, 4.4, 4.6, 5.7,
       3.6, nan, 5.2, 4.1, 4.2, 4. , 3.6, 3.8, 4.2, 4. , 3.6, 3.8, 3.3,
       4.2, 4. , 3.7, 3.1, 3.8, 3.2, 3. , 3.2, 3.2, 3.7, 2.5, 3.4, 3.7,
       3.8, 3.9, nan, 4.8, 4.2, 3.8, 3.6, 4.8, 4.2, 3.4, 3.7, 3.6, 4.6,
       3.3, 2.9, 3.6, 3.4, 4.6, 3.7, nan, nan, nan, 4.5, 4.3, 4.1, 4.8,
       nan, nan, 3.5, 3.9, 4. , 3.5, nan, nan, nan, nan, nan, 3.3, 2.9,
       3.9, 2.3, 4.6, 3.5, 3.6, 4. , 3.4, 3.4, 3.5, 2.8, 3.5, 5.2, 4. ,
       4.3, 4.5, nan, nan, nan, 4.2, 3.8, 3.8, 3.8, 4.2, 4.8, nan, nan,
       nan, nan, 3. , nan, 4. , 4.1, 3.8, 4.1, 2.9, 4. ])

In [29]:
taxa = 'family'
genus_otu = cf_analysis_lib.read_taxonomy(datadir, sequence_type, taxa, all_taxa=True)
genus_otu = genus_otu.T
genus_otu

taxonomy,Hadarchaeaceae,Prometheoarchaeaceae,Micrarchaeaceae,Nanohalobiaceae,Odinarchaeaceae,Thalassarchaeaceae,Sysuiplasmataceae,Methanomassiliicoccaceae,Methanomethylophilaceae,Cuniculiplasmataceae,...,Straboviridae,Suolaviridae,Zierdtviridae,Zobellviridae,Crevaviridae,Steigviridae,Suoliviridae,Haloferuviridae,Druskaviridae,Halomagnusviridae
1068841_20180306_S,0.0,0.0,0.0,0.0,0.000000,0.000000,0.269521,0.808564,3.773297,0.0,...,7.816115,0.0,0.000000,0.000000,0.0,30.186377,103.76567,0.0,0.0,0.0
1085876_20180227_S,0.0,0.0,0.0,0.0,0.000000,0.283506,0.000000,2.551553,2.268047,0.0,...,1.134023,0.0,1.984541,0.000000,0.0,0.000000,0.00000,0.0,0.0,0.0
1128691_20171206_S,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,25.082863,0.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.00000,0.0,0.0,0.0
1128691_20171218_S,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.00000,0.0,0.0,0.0
1128691_20180116_S,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,10.405286,0.0,...,5.202643,0.0,0.000000,0.000000,0.0,0.000000,0.00000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895293_20180502_S,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,2.302092,0.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.00000,0.0,0.0,0.0
896213_20180427_S,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.000000,7.990028,0.0,0.000000,0.00000,0.0,0.0,0.0
913873_20180417_S,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.00000,0.0,0.0,0.0
980574_20180403_S,0.0,0.0,0.0,0.0,0.871822,0.000000,0.000000,0.000000,6.538666,0.0,...,0.000000,0.0,0.871822,0.000000,0.0,0.000000,0.00000,0.0,0.0,0.0
983493_20180123_S,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,5.107070,0.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.00000,0.0,0.0,0.0

In [30]:
for c in genus_otu.columns:
    if 'Asper' in c:
        print(c)

Aspergillaceae

In [31]:
genus_otu.loc['650003_20180207_S', 'Aspergillaceae']

89.36673717678958

In [32]:
aspergs = []
for c in metadata.columns:
    if c.startswith('CS_Aspergillus'):
        aspergs.append(c)
aspergs

['CS_Aspergillus fumigatus',
 'CS_Aspergillus flavus',
 'CS_Aspergillus nidulans',
 'CS_Aspergillus niger',
 'CS_Aspergillus terreus']

In [33]:
metadata.loc['650003_20180207_S', aspergs]

CS_Aspergillus fumigatus    1
CS_Aspergillus flavus       0
CS_Aspergillus nidulans     0
CS_Aspergillus niger        0
CS_Aspergillus terreus      0
Name: 650003_20180207_S, dtype: object

In [34]:
metadata.loc['676138_20180405_S', aspergs]

CS_Aspergillus fumigatus    0
CS_Aspergillus flavus       0
CS_Aspergillus nidulans     0
CS_Aspergillus niger        0
CS_Aspergillus terreus      0
Name: 676138_20180405_S, dtype: object

In [35]:
metadata[metadata['pwCF_ID']==676138].loc[:,['pwCF_ID', 'Sample date', 'Sum of antifungals'] + aspergs].sort_values(by='Sample date')

,pwCF_ID,Sample date,Sum of antifungals,CS_Aspergillus fumigatus,CS_Aspergillus flavus,CS_Aspergillus nidulans,CS_Aspergillus niger,CS_Aspergillus terreus
NAME,,,,,,,,
676138_20171001_S,676138,2017-10-01,0,0,0,0,0,0
676138_20171009_S,676138,2017-10-09,0,1,0,0,0,0
676138_20180130_S,676138,2018-01-30,2,0,0,0,0,0
676138_20180323_S,676138,2018-03-23,1,1,0,0,0,0
676138_20180405_S,676138,2018-04-05,2,0,0,0,0,0

In [36]:
for c in metadata.columns:
    if 'fungal' in c.lower():
        print(c)

Sum of antifungals

In [37]:
for c in metadata.columns:
    if 'mucoid' in c.lower():
        print(c)

CS_mucoid
CS_non-mucoid
N12M_mucoid
N12M_non_mucoid
O_Pseudomonas aeruginosa (non-mucoid)
O_Pseudomonas aeruginosa (mucoid)

In [38]:
metadata[metadata['CS_Pseudomonas aeruginosa'] == 1][['Pseudomonas Culture', 'CS_Pseudomonas aeruginosa', 'CS_mucoid', 'CS_non-mucoid']]

,Pseudomonas Culture,CS_Pseudomonas aeruginosa,CS_mucoid,CS_non-mucoid
NAME,,,,
1085876_20180227_S,1.0,1,0,1
1128691_20171206_S,1.0,1,1,0
1128691_20171218_S,1.0,1,1,0
1128691_20180116_S,1.0,1,1,0
1162967_20180116_S,1.0,1,1,1
1282052_20180206_S,1.0,1,0,0
1316935_20180417_S,1.0,1,1,0
1447437_20171006_S,1.0,1,0,0
1447437_20171212_S,1.0,1,1,0
1465461_20180406_S,1.0,1,1,1
1565754_20171128_S,1.0,1,1,0
1565754_20180403_S,1.0,1,1,0
1588281_20180508_S,1.0,1,1,0
1593967_20180424_S,1.0,1,1,1
1593973_20180427_S,1.0,1,0,0
1593973_20180504_S,1.0,1,1,0
1658447_20171006_S,1.0,1,1,0
1664053_20180406_S,1.0,1,0,1
1690154_20180406_S,1.0,1,0,1
623361_20180123_S,1.0,1,1,0
639354_20171206_S,1.0,1,1,0
650003_20180207_S,1.0,1,0,1
658355_20180321_S,1.0,1,0,0
676138_20180323_S,1.0,1,0,0
698564_20171001_S,1.0,1,0,0
698564_20181205_S,1.0,1,0,0
715927_20180213_S,1.0,1,0,1
748160_20180321_S,1.0,1,0,1
748699_20190101_S,1.0,1,1,0
748699_20190109_S,1.0,1,1,0
748699_20190114_S,1.0,1,0,1
788707_20181116_S,1.0,1,0,1
802971_20180605_S,1.0,1,0,1
895293_20180502_S,1.0,1,1,0
980574_20180403_S,1.0,1,0,1
983493_20180123_S,1.0,1,1,0

In [39]:
for f in metadata.index:
    if metadata.loc[f, 'Pseudomonas Culture'] != metadata.loc[f, 'CS_Pseudomonas aeruginosa']:
        print(metadata.loc[f, ['Pseudomonas Culture', 'CS_Pseudomonas aeruginosa']])

Pseudomonas Culture          NaN
CS_Pseudomonas aeruginosa      0
Name: 676138_20180405_S, dtype: object
Pseudomonas Culture          NaN
CS_Pseudomonas aeruginosa      0
Name: 770560_20181218_S, dtype: object

In [40]:
metadata[(metadata['N12M_Pseudomonas aeruginosa (multi-resistant)'] != 1) & (metadata['N12M_Pseudomonas aeruginosa'] == 1)][['N12M_Pseudomonas aeruginosa (multi-resistant)', 'N12M_Pseudomonas aeruginosa']]

,N12M_Pseudomonas aeruginosa (multi-resistant),N12M_Pseudomonas aeruginosa
NAME,,
1068841_20180306_S,NaN,1.0
1447437_20171006_S,NaN,1.0
1447437_20171212_S,NaN,1.0
1586713_20180309_S,NaN,1.0
1651490_20171010_S,0.0,1.0
1651490_20171215_S,0.0,1.0
1651490_20180206_S,0.0,1.0
1690154_20180406_S,NaN,1.0
650003_20180207_S,NaN,1.0
650003_20180213_S,NaN,1.0
670829_20180201_S,0.0,1.0
698564_20171001_S,0.0,1.0
698564_20180215_S,0.0,1.0
698564_20181205_S,0.0,1.0
756934_20181205_S,0.0,1.0
756934_20181218_S,0.0,1.0
788707_20171213_S,0.0,1.0
788707_20180129_S,0.0,1.0
788707_20180301_S,0.0,1.0
788707_20180308_S,0.0,1.0
788707_20180313_S,0.0,1.0
788707_20181116_S,0.0,1.0
802971_20180605_S,NaN,1.0